:root {
    --accent-colour-1: #244cec;
    --accent-colour-2: rgb(255, 255, 255); 
    --accent-colour-3: #0E4BB3;
    --accent-colour-4: rgb(223, 24, 24);
    --cv-accent-1: #0c355c;
    --cv-accent-2: #104b81;
    --cv-accent-3: #1a6fbe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body {
    background-color: rgb(236, 236, 236);
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--accent-colour-2);
    width: 100%;
}

.header span {
    color: var(--accent-colour-1);
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 9px;
    border-radius: 30px;
    width: 135px;
    border: none;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
}

.header button:last-child {
    color: white;
    background-color: var(--accent-colour-1);
}

.header button:first-child:hover {
    background-color: rgb(224, 224, 224);
}

.header button:last-child:hover {
    background-color: #115fe7;
}

a {
    text-decoration: none;
}

/* Content Section */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(0,1fr));
}

/* CV Form Section */
.autofill-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.autofill-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 9px;
    border-radius: 30px;
    width: 120px;
    border: none;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
    color: white;
}

.autofill-container button:first-child {
    background-color: var(--accent-colour-1);
}

.autofill-container button:last-child {
    background-color: var(--accent-colour-4);
}

.autofill-container button:first-child:hover {
    background-color: #115fe7;
}

.autofill-container button:last-child:hover {
    background-color: rgb(184, 0, 0);
}

.cv-form {
    overflow: hidden;
}

.personal-info, .education-info, .experience-info {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 25px 20px;
    background-color: var(--accent-colour-2);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.personal-header, .education-header, .experience-header {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.education-content, .experience-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-icon {
    background-color: var(--accent-colour-1);
    border-radius: 50px;
    color: white;
    width: 37px;
    height: 37px;
    letter-spacing: 0;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

.cv-form h2 {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.form-item {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-container label {
    min-width: 130px;
    font-size: 1rem;
    white-space: nowrap;
}

input, textarea {
    border: none;
    border: solid 2px transparent;
    padding: 7px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    transition: border 150ms ease-in-out;
    background-color: #f3f4f6;
    padding: 10px;
    font-size: 0.9rem;
    word-wrap: break-word;
}

textarea {
    height: 100px;
    resize: none;
}

input:hover, textarea:hover {
    border: 2px solid var(--accent-colour-1);
}

input:focus, textarea:focus {
    border: 2px solid var(--accent-colour-1);
}

.delete-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    color: white;
    background-color: var(--accent-colour-4);
    padding: 10px 15px;
}

.delete-button:hover {
    background-color: rgb(184, 0, 0);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-new {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 12px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.btn-new:hover {
    background-color: var(--accent-colour-1);
    color: white;
}

/* Preview CV Section */
.prev-cv {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 800px;
    margin: 20px;
    margin-top: 35px;
    height: 1100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
  
.cv-header {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--cv-accent-1);
    padding: 10px;
    margin: 0;
}

.cv-header h2 {
    text-transform: uppercase;
}

.cv-header h3 {
    opacity: 0.7;
}
  
.cv-personal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
  
.cv-contact,
.cv-aboutme {
    flex: 1;
    padding: 15px;
}
  
.cv-contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #fff;
}

.cv-icons {
    display: flex;
    gap: 8px;
    align-items: center;
}
  
.cv-aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cv-accent-2);
    color: white;
    max-width: 100%;
    word-wrap: break-word;
}
  
.cv-education,
.cv-experience {
    margin-bottom: 20px;
    padding: 30px;
}

.cv-education ul,
.cv-experience ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.cv-education li,
.cv-experience li {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
  
.cv-education h3,
.cv-experience h3 {
    background-color: var(--cv-accent-2); 
    color: #fff;
    padding: 5px 10px;
}

.cv-education h4,
.cv-experience h4 {
    color: var(--cv-accent-3);
}

.cv-education-desc,
.cv-experience-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
    max-width: 100%;
    word-wrap: break-word;
    gap: 5px;
}

.cv-date {
    margin-right: 20px;
    min-width: 180px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Media Queries */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }

    .personal-info, .education-info, .experience-info {
        margin: 20px;
    }

    .header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .header-buttons {
        margin-top: 10px;
    }

    .cv-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cv-personal {
        flex-direction: column;
    }

    .cv-contact,
    .cv-aboutme {
        width: 100%; 
    }

    .cv-education li,
    .cv-experience li {
        flex-direction: column;
        align-items: flex-start;
    }

    .cv-date,
    .cv-experience-desc {
        width: 100%;
    }

    .prev-cv {
        height: auto;
    }  
}