:root {
    --accent-colour-1: #244cec;
    --accent-colour-2: rgb(255, 255, 255); 
    --accent-colour-3: #0E4BB3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body {
    background-color: rgb(236, 236, 236);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--accent-colour-2);
}

.header span {
    color: var(--accent-colour-1);
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header button {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px;
    border-radius: 30px;
    width: 100px;
    border: none;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
}

.header button:last-child {
    color: white;
    background-color: var(--accent-colour-1);
}

.header button:first-child:hover {
    background-color: rgb(224, 224, 224);
}

.header button:last-child:hover {
    background-color: #115fe7;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(0,1fr));
}

.personal-info, .education-info, .experience-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
    padding: 25px 20px;
    background-color: var(--accent-colour-2);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.personal-header, .education-header, .experience-header {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.number-icon {
    background-color: var(--accent-colour-1);
    border-radius: 50px;
    color: white;
    width: 37px;
    height: 37px;
    letter-spacing: 0;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

.cv-form h2 {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.input-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-container label {
    min-width: 100px;
    font-size: 1rem;
}

input, textarea {
    border: none;
    border: solid 2px transparent;
    padding: 7px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    transition: border 150ms ease-in-out;
    background-color: #f3f4f6;
    padding: 10px;
    font-size: 0.9rem;
}

input:hover, textarea:hover {
    border: 2px solid var(--accent-colour-1);
}

input:focus, textarea:focus {
    border: 2px solid var(--accent-colour-1);
}

/* Apply styles to the parent container */
.prev-resume {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    max-width: 800px;
    margin: 20px;
}
  
  /* Style the resume header */
.resume-header {
    text-align: center;
    margin-bottom: 20px;
}

.resume-header h3 {
    opacity: 0.7;
}
  
  /* Style the contact and about me sections */
.resume-personal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.resume-contact,
.resume-aboutme {
    flex: 1;
    padding: 10px;
}
  
.resume-contact {
    background-color: var(--accent-colour-3); /* Blue color for contact section */
    color: #fff; /* Text color for contact section */
}
  
.resume-aboutme {
    background-color: #125ee2; /* Lighter blue color for about me section */
    color: white;
    max-width: 100%;
    word-wrap: break-word;
}
  
/* Style the education and experience sections */
.resume-education,
.resume-experience {
    margin-bottom: 20px;
}

.resume-education ul,
.resume-experience ul {
  list-style: none;
  padding: 0;
}

.resume-education li,
.resume-experience li {
  display: flex; /* Use flexbox for each list item */
  margin-bottom: 10px;
  margin-top: 10px;
}
  
.resume-education h3,
.resume-experience h3 {
    background-color: var(--accent-colour-3); /* Blue color for section headings */
    color: #fff; /* Text color for section headings */
    padding: 5px 10px;
}
  
  /* Style the education and experience details */
.resume-education-desc,
.resume-experience-desc {
    flex: 1;
    background-color: #fff;
    max-width: 100%;
    word-wrap: break-word;
}
  
  /* Add some space between sections */
.resume-education + .resume-experience {
    margin-top: 20px;
}
  
  /* Add a horizontal rule between sections */
.resume-education + .resume-experience,
.resume-education h3 + .resume-education-desc,
.resume-experience h3 + .resume-experience-desc {
    border-top: 1px solid #ccc;
}
    
.resume-date {
    margin-right: 20px; /* Add some space between start date/end date and content */
    min-width: 100px; /* Set a minimum width for the start date/end date */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn-new {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.btn-new:hover {
    background-color: var(--accent-colour-1);
    color: white;
}
  